<ion-view>

  <ion-header-bar ng-if="!loggedIn" class="bar bar-subheader bar-energized text-center"><h5>Login or register</h5></ion-header-bar>

  <ion-header-bar ng-if="loggedIn" class="bar bar-subheader bar-energized text-center"><h5>Manage reminders</h5></ion-header-bar>

  <ion-content class="has-subheader">
      <section class="card">
        <p class="padding-horizontal"><strong>Have you seen our web app?</strong> You can see a graph of your mood history.
          Visit <a href="http://harmonymoodtracker.com">www.harmonymoodtracker.com</a> in your computer's browser.
        </p>
      </section>

      <section ng-if="!loggedIn" class="card">
              <div class="item item-text-wrap">
         <h2>Login</h2>
      </div>
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" ng-model="loginForm.email" placeholder="email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginForm.password"  placeholder="password">
          </label>          
        </div>
        <div class="button-bar padding-horizontal"><button class="button button-block button-positive" ng-click="doLogin()">Login</button>
          <button class="button button-block button-positive" ng-click="doRegister()">Register</button></div>  
      </section>

      <div class="card" ng-if="!loggedIn">
        <div class="item item-text-wrap">
            <h2>I forgot my password</h2>
        </div>
        <div class="item">
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" ng-model="resetForm.email" placeholder="email">
          </label>
          <button class="button button-block button-positive" ng-click="doPasswordReset()">Send new password</button>
        </div>
      </div>

      <section ng-if="loggedIn">
        <div class="card">
          <div class="item item-text-wrap">
            <h2>Existing daily reminders</h2>
          </div>
          <div class="item">
            <ion-list show-delete="true">
              <ion-item ng-repeat="id in reminders track by $index"><ion-delete-button class="ion-minus-circled" ng-click="deleteReminder(id)"></ion-delete-button> {{id}}</ion-item>
            </ion-list>

            <span ng-if="!reminders.length" class="muted">Use box below to add first reminder</span>

            <button ng-if="reminders.length" class="button button-block button-assertive" ng-click="clearReminders()">Clear all</button>
          </div>
        </div> 

        <div class="card">
          <div class="item item-text-wrap">
            <h2>New reminders</h2>
          </div>
          <div class="item">
            <label class="item item-input item-floating-label">Reminder time (24 hour):<input type="time" ng-model="input.time"></label>
            <button class="button button-block button-positive" ng-click="addReminder()">Add reminder at {{input.time | amDateFormat:'h:mm a'}}</button>
          </div>
        </div>  

        <section class="card">
          <div class="item item-text-wrap">
            <h2>Change your email</h2>
          </div>          
          <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">New email address</span>
              <input type="email" ng-model="emailForm.newEmail" placeholder="new email">
            </label>    
            <label class="item item-input item-floating-label">
              <span class="input-label">Password</span>
              <input type="password" ng-model="emailForm.password" placeholder="password">
            </label>
          </div>
          <div class="item">
            <button class="button button-block button-positive" ng-click="doChangeEmail()">Change email</button>
          </div>
        </section>  

        <section class="card">
          <div class="item item-text-wrap">
            <h2>Change your password</h2>
          </div>          
          <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">Old password</span>
              <input type="password" ng-model="changeForm.oldPassword" placeholder="old password">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">New password</span>
              <input type="password" ng-model="changeForm.newPassword"  placeholder="new password">
            </label>          
          </div>
          <div class="item">
            <button class="button button-block button-positive" ng-click="doChangePassword()">Change password</button>
          </div>
        </section>  
    
        <div class="padding-horizontal">
          <button class="button button-block button-assertive" ng-click="doLogout()">Logout {{userEmail}}</button>
        </div>
      </section>

      <section>
        <div class="padding-horizontal">
          <button class="button button-block button-assertive" ng-click="debug()">Debug</button>
        </div>
      </section>

      <p class="text-center">
        <a href="https://www.docracy.com/0ahca57mi0j/harmony-mood-tracker-app-privacy-policy">Privacy policy</a>
      </p>
  </ion-content>
</ion-view>
