<ion-view>

  <ion-header-bar ng-if="!loggedIn" class="bar bar-subheader bar-energized text-center"><h5>Login or register</h5></ion-header-bar>

  <ion-header-bar ng-if="loggedIn" class="bar bar-subheader bar-energized text-center"><h5>Manage reminders</h5></ion-header-bar>

  <ion-content class="has-subheader">
      <section ng-if="!loggedIn" class="padding-horizontal">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" ng-model="loginForm.email" placeholder="email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginForm.password"  placeholder="password">
          </label>          
        </div>
        <button class="button button-block button-positive" ng-click="doLogin()">Login</button>
        <button class="button button-block button-positive" ng-click="doRegister()">Register</button>   
      </section>

      <section ng-if="loggedIn">
        <div class="card">
          <div class="item item-text-wrap">
            <h2>Existing daily reminders</h2>
          </div>
          <div class="item">
            <ion-list show-delete="true">
              <ion-item ng-repeat="id in reminders track by $index"><ion-delete-button class="ion-minus-circled" ng-click="deleteReminder(id)"></ion-delete-button> {{id}}</ion-item>
            </ion-list>

            <span ng-if="!reminders.length" class="text-center muted">Add a daily reminder above</span>

            <button ng-if="reminders.length" class="button button-block button-assertive" ng-click="clearReminders()">Clear all</button>
          </div>
        </div> 

        <div class="card">
          <div class="item item-text-wrap">
            <h2>New reminders</h2>
          </div>
          <div class="item">
            <label class="item item-input item-floating-label">Reminder time (24 hour):<input type="time" ng-model="input.time"></label>
            <button class="button button-block button-positive" ng-click="addReminder()">Add reminder at {{input.time | amDateFormat:'h:mm a'}}</button>
          </div>
        </div>       
    
        <div class="padding-horizontal">
          <button class="button button-block button-assertive" ng-click="doLogout()">Logout {{userEmail}}</button>
        </div>
      </section>
  </ion-content>
</ion-view>
