<ion-view view-title="Settings">

  <ion-header-bar ng-if="!loggedIn" class="bar bar-subheader bar-energized text-center"><h5>Login or register</h5></ion-header-bar>

  <ion-content class="has-subheader">
      <section ng-if="!loggedIn">

        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" ng-model="loginForm.email" placeholder="email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="text" ng-model="loginForm.password"  placeholder="password">
          </label>          
        </div>
        <button class="button button-block button-positive" ng-click="doLogin()">Login</button>
        <button class="button button-block button-positive" ng-click="doRegister()">Register</button>   
      </section>

      <section ng-if="loggedIn">
        <div class="card">
          <div class="item item-text-wrap">
            <h2>Existing reminders</h2>
            <ion-list>
              <list-item ng-repeat="id in reminders track by $index">{{id}} <button ng-click="removeReminder(id)">Remove</button></list-item>
            </ion-list>

            <button  class="button button-block button-assertive" ng-click="clearReminders()">Clear all</button>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
            <h2>Add reminder</h2>
          </div>
          <div class="item">
            <label class="item item-input item-floating-label">Time <input type="time" ng-model="input.time"></label>
            {{input.time}}
            <button class="button button-block button-positive" ng-click="addReminder()">Add reminder</button>
          </div>
        </div>
    
        <p>
          <button class="button button-block button-assertive" ng-click="doLogout()">Logout</button>
        </p>
      </section>
  </ion-content>
</ion-view>
